<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playlistr</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!-- OUR CSS AND JS -->
    <link rel="stylesheet" href="/style.css" />
    <script src="/app.js" defer></script>
  </head>
  <body id="bg">
    <div class="grid h-screen place-items-center">
      <main>
        <div class="content-center">
          <header>
            <a href="/playlists"
              ><h1 class="underline text-9xl">Playlistr</h1></a
            >
          </header>
          <br />
          <div class="flex place-content-center">
            <a href="/users/signup"
              ><button
                class="px-4 py-2 m-1 text-base text-black font-semibold rounded-md bg-orange-200 border-purple-200 hover:text-white hover:bg-orange-700 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2 transition-colors"
              >
                Sign Up
              </button></a
            >
            <a href="/users/login"
              ><button
                class="px-4 py-2 m-1 text-base text-black font-semibold rounded-md bg-orange-200 border-purple-200 hover:text-white hover:bg-orange-700 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2 transition-colors"
              >
                Login
              </button></a
            >
          </div>
        </div>
      </main>
    </div>

    <footer></footer>
  </body>
</html>
