<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playlistr</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!-- OUR CSS AND JS -->
    <link rel="stylesheet" href="/style.css" />
    <script src="/app.js" defer></script>
  </head>
  <body id="bg" class="font-sans">
    <div class="container mx-auto">
      <main>
        <nav class="bg-black rounded-b-2xl">
          <div class="flex space-x-4">
            <a
              href="/playlists"
              class="text-white px-3 py-2 rounded-md text-sm font-medium underline text-4xl font-semibold"
              ><h1 class="text-3xl">Playlistr</h1></a
            >
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
              href="/playlists"
              class="text-white hover:bg-orange-200 hover:text-black px-3 py-2 rounded-md text-base font-medium place-self-center transition-colors duration-300"
              >All Playlists</a
            >

            <a
              href="/songs"
              class="text-white hover:bg-orange-200 hover:text-black px-3 py-2 rounded-md text-base font-medium place-self-center transition-colors duration-300"
              >Song Library</a
            >
            <a
              href="/playlists/new"
              class="text-white hover:bg-green-400 hover:text-black px-3 py-2 rounded-md text-base font-medium place-self-center transition-colors duration-300"
              >New Playlist</a
            >

            <a
              href="/songs/new"
              class="text-white hover:bg-green-400 hover:text-black px-3 py-2 rounded-md text-base font-medium place-self-center transition-colors duration-300"
              >New Song</a
            >

            <a
              href="/users/logout"
              class="text-white hover:bg-red-500 hover:text-black px-3 py-2 rounded-md text-base font-medium place-self-center transition-colors duration-300"
              >Logout</a
            >
          </div>
        </nav>
        {% block content %}My default content{% endblock %}
      </main>
    </div>

    <footer></footer>
  </body>
</html>
