body {
  background-image: url("/Aura.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
}

#shadow {
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* a {
  color: black;
}

a:hover {
  color: black;
} */

.padding {
  padding: 10px;
}

.contain {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}

/* .u-pull-right {
  float: right;
} */
/* .u-pull-left {
  float: left;
} */

#descript {
  font-style: italic;
}

img {
  border-radius: 10%;
}

#right-side {
  width: 245px;
}

#right-side2 {
  width: 198px;
}

/* #table {
  border: 2px;
} */
